body {
    background-color: #f3e8e8;
    margin: 0;
    width: 100%;
    height: 100%;
}
.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 80px; 
    background-color: #ffffff;
    padding-left: 16px;
    padding-right: 16px;

}
.logo {
    width: 150px;
    height: 50px;
    margin-left: 20px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
    float: right;
}
.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;
        /* if you want it vertically middle of the navbar */
}

ul li{
    
    padding:10px;
    font-size:20px; font-family:raleway;

}
a {
    text-decoration: none ;
    font-size:20px;
    font-family: 'Teko', sans-serif;
     color: black;
}

a:hover {
    color:orange;
    text-decoration:none;
    cursor:pointer;
}
article{
    padding: 16px;
}

article h2{
    color: rgb(5, 4, 7); 
}
table,th {
    font-size:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid black;
  }
td {
    border: 1px solid black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(84, 134, 34);
}

